<launch>
    <!-- Launch Gemini capture and analysis node -->
    <node pkg="gemini_ros" type="capture_and_analyze.py" name="capture_and_analyze" output="screen">
        <param name="use_sim_time" value="false"/>
    </node>

    <!-- Launch the description listener -->
    <node pkg="person_description" type="description_listener.py" name="description_listener" output="screen" />

    <!-- Launch the characteristics analyzer -->
    <node pkg="person_description" type="characteristics.py" name="characteristics" output="screen" />

    <!-- Launch the name recognizer -->
    <node pkg="person_description" type="name.py" name="name_recognizer" output="screen" />

</launch>
